<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list *ngIf="isLoggedIn()">
      <a mat-list-item routerLink="/card-books-result"><i class="material-icons">bookmark</i> Twój Bookshelf</a>
      <a mat-list-item routerLink="/books-result"><i class="material-icons">search</i> Szukaj książek</a>
      <a mat-list-item routerLink="/logout">Wyloguj</a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!isLoggedIn()">
      <a mat-list-item routerLink="/login">Zaloguj</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><i class="material-icons">library_books</i> Google Books</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
