.csv__container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  justify-content: center;
  text-align: center;
}

.csv__title {
  text-align: center;
}

.csv__buttons {
  button, a {
    margin:10px;
  }
}
