@import "~@angular-mdc/theme/material";
@import "~@angular-mdc/theme/material-components-web";

.material-card {
  margin: 28px;
  width: 450px;
  float: left;
}

.mdc-card__media {
  position: relative;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.material-card__book--photo {
  width: 150px;
  border-top-left-radius: inherit;
}
.material-card__book {
  @include mdc-card-shape-radius(24px 4px);

  @include mdc-rtl {
    @include mdc-card-shape-radius(4px 24px);
  }
}

.material-card__book-row {
  display: flex;
  border-top-left-radius: inherit;

  @include mdc-rtl {
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
  }
}

.material-card__book--photo {
  width: 110px;
  border-top-left-radius: inherit;

  @include mdc-rtl {
    border-top-left-radius: 0;
    border-top-right-radius: inherit;
  }
}

.material-card__book-info {
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  width:300px;
}

.material-card__book-title,
.material-card__book-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.icon-button-primary {
  @include mdc-icon-button-ink-color(#de442c);
  @include mdc-states-base-color(#de442c);
  @include mdc-states-hover-opacity(.09);
  @include mdc-states-focus-opacity(.26);
  @include mdc-states-press-opacity(.35);
  color: #de442c;
  cursor: default;
}
