<app-search-bar (books)="startIndex = 0; getBooks($event)"></app-search-bar>
<div *ngIf="booksData != undefined">
  <app-material-card *ngFor="let card of booksData.items" [booksInFavoriteBookshelfIds]="booksInFavoriteBookshelfIds" [card]=card></app-material-card>
</div>
<div class="bottom-buttons">
  <button *ngIf="booksData != undefined" mdc-button outlined label="Poprzednie"
          (click)="startIndex = startIndex - 12; getTwelveBooks()" [mdcElevation]="3">
  </button>
  <button *ngIf="booksData != undefined" mdc-button outlined label="Następne"
          (click)="startIndex = startIndex + 12; getTwelveBooks()" [mdcElevation]="3">
  </button>
</div>

