@import "~@angular-mdc/theme/material";
@import "~@angular-mdc/theme/material-components-web";
@import "../../styles";
.bookshelf-list__list {
  @include list;
}
[hidden] {
  display: none !important;
}
